= provide(:title, "Welcome")
.cell
  .callout.primary.large
    %h1.text-center Welcome to Time Logger
    .grid-container
      .grid-x.grid-margin-x.small-up-2
        .cell.text-center
          .card
            .card-divider
              %h4 Log Your Time
            = image_tag "time_log_productivity.jpg"
            .card-section
              %p Log your activity time to boost your productivity.
              %p Use play/stop button for easy logging.
        .cell.text-center
          .card
            .card-divider
              %h4 Admin Reports
            = image_tag "admin_reports.jpg"
            .card-section
              %p Admins can get user detailed reports about logged time entries.
              %p Reports are user based or category based.