%table#time-entries-table
  %thead
    %tr
      %th{:width => "15%"} Start
      %th{:width => "15%"} Stop
      %th{:width => "15%"}
        Duration
        %br/
        (hh:mm:ss)
      %th.text-center Comment
      %th.text-center{:width => "20%"} Category
      - if controls
        %th{:colspan => "2", :width => "10%"}
  %tbody
    = render "shared/time_table/table_body", t: time_entries, controls: controls, total: total