- if flash[:notice]
  .cell.flash-notice
    .callout.primary{'data-closable' => ''}
      = flash[:notice]
      = render "shared/close_button"
- if flash[:error]
  .cell.flash-error
    .callout.alert{'data-closable' => ''}
      = flash[:error]
      = render "shared/close_button"