.grid-x
  .cell.small-6
    %p Follow on social media: 
    %a.fa.fa-twitter{:href => "https://twitter.com/milikkan", :target => "_blank"}
    %a.fa.fa-github-alt{:href => "https://github.com/milikkan", :target => "_blank"}
  .cell.small-6.copyright
    %p.text-right &copy; Time Logger App, 2021