.top-bar
  .top-bar-left
    %ul.menu
      %li.menu-text Time Logger
      %li= link_to "Home", root_path
      %li= link_to "Users"
      %li= link_to "Categories"
      %li= link_to "Admin Reports"
  .top-bar-right
    %ul.menu
      %li
        %button.button Log In