.top-bar
  .top-bar-left
    %ul.menu.dropdown{"data-dropdown-menu" => ""}
      %li.fa.fa-hourglass.brand-icon.fa-2x
      %li= link_to "TIME LOGGER", root_path, class: "menu-text"
      = render "shared/menu_left"
  .top-bar-right
    = render "shared/menu_right"