-# not being used at the moment, maybe later...

:plain
  var table = $('#time-entries-table');
  table.html("#{
    j render 'time_table', time_entries: @time_entries
  }");
  var flashNotice = $('.flash-notice');
  if (flashNotice) flashNotice.css("display", "none");
  var emptyWarning = $('.callout.warning')
  if (emptyWarning) emptyWarning.css("display", "none");