@import "foundation_and_overrides";

.top-bar {
  margin-bottom: 1rem;
  .button {
    margin-left: 10px;
  }
}

.footer {
  background-color: $light-gray;
  border-top: 1px solid $dark-gray;
  .cell {
    padding: 0rem 1rem;
    p {
      margin-bottom: 0;
      font-size: 14px;
      opacity: 0.7;
    }
    &.copyright {
      padding-top: 0.5rem;
      padding-right: 2rem;
    }
    .fa {
      margin-right: 10px;
    }
    .fa-github-alt {
      color: #000;
    }
    .fa-twitter {
      color: #1da1f2;
    }
  }
}

.card {
  .card-divider {
    h4 {
      margin: auto;
      color: white;
    }
    background-color: $alert-color;
  }

  p {
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
  }
  background-color: $primary-color;
  border: 2px solid $dark-gray;
  border-radius: 3%;
}
